extends layout

block content
  include partials/header  
  div.container
      .row
        .col-sm-4
          h2 About Me
          h5 Photo of me:
          img(src='/images/profile.png' alt='shinhee' style='width:100%')
          p Some text about me in culpa qui officia deserunt mollit anim..
          h3 More Links
          p Click below pages
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='/service') Service
            li
              a(href='/projects') Projects
            li
              a(href='/contact') Contact me
          hr.hidden-sm.hidden-md.hidden-lg
        .col-sm-8
          h2 Service
          h5 Latest update, Dec 7, 2017
          .fakeimg Fake Image
          p Some text..
          p
            | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          br
          h2 Projects
          h5 Latest update, Sep 2, 2017
          img(src='https://www.w3schools.com/w3images/ocean.jpg' style='width:100%')
          p Check out my photograph projects
          p
            | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.




      h2(style='text-align:center') My Life
      p(style='text-align:center') London Paris Tokyo Oslo
      p 
      #London.tabcontent.active
        h1 London
        p My Life in London
      #Paris.tabcontent
        h1 Paris
        p My Life in Paris
      #Tokyo.tabcontent
        h1 Tokyo
        p My Life in Tokyo
      #Oslo.tabcontent
        h1 Oslo
        p My Life in Oslo
      button#defaultOpen.tablink(onclick="openCity('London', this, 'red')") London
      button.tablink(onclick="openCity('Paris', this, 'green')") Paris
      button.tablink(onclick="openCity('Tokyo', this, 'blue')") Tokyo
      button.tablink(onclick="openCity('Oslo', this, 'orange')") Oslo
     
      p 
      h2(style='text-align:center') Visitor Rating
      p(style='text-align:center') 4.1 average based on 254 reviews.
      span.heading Visitor Rating
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star
      
      hr(style='border:3px solid #f1f1f1')
      .row
        .side
          div 5 star
        .middle
          .bar-container
            .bar-5
        .side.right
          div 150
        .side
          div 4 star
        .middle
          .bar-container
            .bar-4
        .side.right
          div 63
        .side
          div 3 star
        .middle
          .bar-container
            .bar-3
        .side.right
          div 15
        .side
          div 2 star
        .middle
          .bar-container
            .bar-2
        .side.right
          div 6
        .side
          div 1 star
        .middle
          .bar-container
            .bar-1
        .side.right
          div 20

      
    






  include partials/footer