extends layout

block content
  include partials/header  
  div.container
      p 
      #London.tabcontent
        h1 London
        p London is the capital city of England.
      #Paris.tabcontent
        h1 Paris
        p Paris is the capital of France.
      #Tokyo.tabcontent
        h1 Tokyo
        p Tokyo is the capital of Japan.
      #Oslo.tabcontent
        h1 Oslo
        p Oslo is the capital of Norway.
      button#defaultOpen.tablink(onclick="openCity('London', this, 'red')") London
      button.tablink(onclick="openCity('Paris', this, 'green')") Paris
      button.tablink(onclick="openCity('Tokyo', this, 'blue')") Tokyo
      button.tablink(onclick="openCity('Oslo', this, 'orange')") Oslo


  include partials/footer